<!DOCTYPE HTML>
<html>
    <head>
        <title>Index</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </head>

    <body>
        <div id="menu-section">
            <menu>
                <li><a href="/index">INDEX</a></li>
                {% if auth_user is none %}
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/register">REGISTER</a></li>
                {% else %}
                    <li><a href="{{ url_for('user_blueprint.user_by_id_get', user_id=auth_user.id) }}">PROFILE</a></li>
                    <li><a href="/logout">LOGOUT</a></li>


                {% endif %}
            </menu>
        </div>

        <div id="page-section">
            <div id="message-section" class="content-top-div hidden-div">
                <div id="message-section-text"></div>
                <div id="message-section-closing">
                    <button class="standard-button" onclick="hideMessage()">X</button>
                </div>
            </div>

            <div id="content-section">
                {% block content %}{% endblock %}
            </div>

            <hr />

            <div id="footnote-section">
                Created as exercise for VPA
            </div>

        </div>

    </body>
</html>