{% extends "_base.html" %}

{% block content %}
   <div class="content-top-div">
        <form id="login-form">
            <div class="form-label-input-div">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required/>
            </div>

            <div class="form-label-input-div">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required/>
            </div>

            <input type="submit" value="Login" />
        </form>
    </div>

    <script src="{{ url_for('static', filename='login_scripts.js') }}"></script>
{% endblock %}