{% extends "_base.html" %}

{% block content %}
    {% if project_obj is none %}
        <div class="content-top-div">
            <h1>This project doesn't exist</h1>
        </div>
    {% else %}
        <div class="content-top-div">
            <div>
                <h1><a href="{{ url_for('user_blueprint.user_by_id_get', user_id=project_obj.user_id) }}">{{ project_obj.owner.username }}</a>/{{ project_obj.name }}</h1>
                {% if (auth_user is not none) and (project_obj.user_id == auth_user.id) %}
                    <button class="standard-button" onclick="deleteObject('project', {{ project_obj.id }})">X</button>
                {% endif %}
            </div>
            <hr />
            <div>
                <p>{{ project_obj.description }}</p>
            </div>
        </div>

        {% if (auth_user is not none) and (project_obj.user_id == auth_user.id) %}
            <div class="content-top-div">
                <h2>CREATE CATEGORY</h2>

                 <form id="create-category-form">
                    <div class="form-label-input-div">
                        <label for="category-name">Name</label>
                        <input type="text" name="category-name" id="category-name" required/>

                        <input type="hidden" id="category-project-id" name="category-project-id" value="{{project_obj.id}}">
                    </div>

                    <input type="submit" value="Create" />
                </form>
            </div>
        {% endif %}
        <hr />

        <div id="categories-section">
            {% for one_category in project_obj.categories %}
                <div class="content-top-div">
                    <div class="category-title-section">

                        <h2>
                            {% if (auth_user is not none) and (project_obj.user_id == auth_user.id) %}
                                <button class="standard-button" onclick="deleteObject('category', {{ one_category.id }})">X</button>
                            {% endif %}
                            {{ one_category.name }}
                        </h2>
                    </div>
                    <hr />
                    <div class="category-items-section">
                        <input type="hidden" value="{{ one_category.id }}" />
                        {% if (auth_user is not none) and (project_obj.user_id == auth_user.id) %}
                        <div class="content-top-div">
                            <h4>CREATE ITEM</h4>

                            <form class="create-item-form">
                                <div class="form-label-input-div">
                                    <label for="item-name">Name</label>
                                    <input type="text" name="item-name" id="item-name" required/>

                                </div>
                                <input type="hidden" id="item-category-id" name="item-project-id" value="{{one_category.id}}">
                                <input type="submit" value="Create" />
                            </form>
                        </div>
                        {% endif %}
                        {% for one_item in one_category.items %}
                            <div class="content-top-div item-div" draggable="true">
                                {% if (auth_user is not none) and (project_obj.user_id == auth_user.id) %}
                                    <button class="standard-button" onclick="deleteObject('item', {{ one_item.id }})">X</button>
                                {% endif %}
                                <input type="hidden" value="{{ one_item.id }}" />
                                {{ one_item.name }}
                            </div>
                        {% endfor %}
                    </div>
                </div>

            {% endfor %}
        </div>
    {% endif %}

    <script src="{{ url_for('static', filename='project_profile_scripts.js') }}"></script>
{% endblock %}