{% extends "_base.html" %}

{% block content %}
    {% if project_obj is none %}
        <div class="content-top-div">
            <h1>This project doesn't exist</h1>
        </div>
    {% else %}
        <div class="content-top-div">
            <div>
                <h1><a href="{{ url_for('user_blueprint.user_by_id_get', user_id=project_obj.user_id) }}">{{ project_obj.owner.username }}</a>/{{ project_obj.name }}</h1>
            </div>
            <hr />
            <div>
                <p>{{ project_obj.description }}</p>
            </div>
        </div>

        <hr />

        <div id="categories-section">
            {% for one_category in project_obj.categories %}
                <div class="content-top-div">
                    <div class="category-title-section">
                        <h2>{{ one_category.name }}</h2>
                    </div>
                    <hr />
                    <div class="category-items-section">

                    </div>
                </div>

            {% endfor %}
        </div>
    {% endif %}
{% endblock %}