{% extends "_base.html" %}

{% block content %}
    <div class="content-top-div">
        <form id="register-form">
            <div class="form-label-input-div">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required/>
            </div>

            <div class="form-label-input-div">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required/>
            </div>

            <div class="form-label-input-div">
                <label for="password-repeat">Confirm password</label>
                <input type="password" name="password-repeat" id="password-repeat" required/>
            </div>

            <input type="submit" value="Register" />
        </form>
    </div>

    <script src="{{ url_for('static', filename='register_scripts.js') }}"></script>
{% endblock %}