{% extends "_base.html" %}

{% block content %}
    {% if user_obj is none %}
        <div class="content-top-div">
            <h1>{{ localization['PAGE_PROFILE_USER_NOT_FOUND'] }}</h1>
        </div>
    {% else %}
        <div class="content-top-div">
            <h1>{{ user_obj.username }}</h1>
            <p>{{ localization['PAGE_PROFILE_PROJECT_COUNT'] }} : {{ user_obj.projects|length }}</p>
        </div>

        {% if (auth_user is not none) and (user_obj.id == auth_user.id)  %}
            <div class="content-top-div">
                <h2>{{ localization['PAGE_USER_PROFILE_CREATE_PROJECT'] }}</h2>
                <form id="create-project-form">
                    <div class="form-label-input-div">
                        <label for="project-name">{{localization["PAGE_USER_PROFILE_CREATE_PROJECT_NAME"]}}</label>
                        <input type="text" name="project-name" id="project-name" required/>
                    </div>

                    <div class="form-label-input-div">
                        <label for="project-desc">{{localization["PAGE_USER_PROFILE_CREATE_PROJECT_DESC"]}}</label>
                        <input type="text" name="project-desc" id="project-desc"/>
                    </div>

                    <input type="submit" value="{{ localization['PAGE_LOGIN_SUBMIT_LABEL'] }}" />
                </form>
            </div>
        {% endif %}

        <hr />

        {% for one_project in user_obj.projects %}
            <div class="content-top-div">
                <h2><a href="{{ url_for('project_blueprint.project_by_id_get', project_id=one_project.id) }}">{{ one_project.name }}</a></h2>
                <p>{{ one_project.description}}</p>
            </div>
        {% endfor %}
    {% endif %}

    <script src="{{ url_for('static', filename='user_profile_scripts.js') }}"></script>

{% endblock %}